/*fonts*/
@font-face {
  font-family: NightMachine;
  src: url('../fonts/NightMachine.otf') format("opentype");
}

/*global*/
h1 {
  font-family: NightMachine !important;
}

.bg-highlight {
  background-color: #d03c3c;
}

.highlight {
  color: #6f1f1f;
}

.primary {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-outline-dark {
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
  font-size: 0.8em;
  border: 2.7px solid #343a40 !important;
  padding: .375rem .75rem !important;
  border-radius: .3rem;
  width: 140px;
  text-align: center;
}

/*Navbar*/
.navbar-nav, li {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 0.9em !important;
  text-transform: uppercase;
  margin-left: 5px;
}

/*Hero*/
 .hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-flame {
  background-image: url(../img/flames.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.hero-title {
  font-size: 5em;
}

.fa-chevron-down {
  font-size: 2em;
  margin-bottom: 10px;
  position: relative;
  -webkit-animation: move 1s infinite;
  animation: move 1s infinite;
}
/*Chevron Animation*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
  0% {
    top: 0px;
  }

  100% {
    top: 2px;
  }
}

/* Standard syntax */
@keyframes move {
  0% {
    top: 0px;
  }

  100% {
    top: 2px;
  }
}

/*Get in Touch / Contact */
.patreon  {
  color: white;
}

.connect h2, .connect a {
  color: black;
}

/*Episodes*/
.episodes {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.episode {
  text-align: center;
}

/*Footer*/
footer {
    height: 20vh;
    margin: 0 auto;
}

 .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
